.search {
  background-color: #2874a6;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #aed6f1;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button {
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  color: #383d4b;
}

.search_container button {
  background-color: #36373a;
  cursor: pointer;
}
